<h4> League Details</h4>
  <p><%= @league.title %></p>
  <p><%= @league.text %></p>
  <p>
  <strong>Category:</strong>
  <%= @league.category_id %>
 
</p>
  <p><%= image_tag @league.image.url,class:" w-100 " %></p>
  <p><%= time_ago_in_words(@league.created_at) %> ago</p>
  <p><%= @league.author.name %></p>
 <% if !@vote.exists?%>
<%= link_to "Vote", votes_path(league_id: @league.id),method: :post,action: :create %>
<% elsif @vote.exists? %>
<p> <%= link_to 'Unvote', vote_path(league_id: @league.id), method: :delete%></p>
<% end%>
  <% if current_user == @league.author %>
<p><%=link_to 'Edit League', edit_league_path %></p>
<%=link_to 'Delete League', league_path, method: :delete, data: {confirm: 'Are you sure you want to delete this League?'} %>
<% end %>
<br><br><br><br><br><br><br>