<h4> League Details</h4>
  <p><%= @league.title %></p>
  <p><%= @league.text %></p>
  <p>
  <strong>Category:</strong>
  <%= @league.category_id %>
 
</p>
  <p><%= image_tag @league.image.url,class:" w-100 " %></p>
  <p><%= time_ago_in_words(@league.created_at) %> ago</p>
  <p><%= @league.author.name %></p>
<%=link_to 'Edit League', edit_league_path %><br>
<%=link_to 'Delete League', league_path, method: :delete, data: {confirm: 'Are you sure you want to delete this League?'} %><br><br><br><br><br><br><br>